.category {
    border: 1px solid #E1E1E1;
    width: 958px;
    overflow: hidden;
}
.col1,.col2,.col3{margin-bottom:-10000px;padding-bottom:10000px;}
.category .col1 {
    float: left;
    width: 185px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px #E1E1E1;
    overflow: hidden;
}
.category .col2 {
    float: left;
    width: 205px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: solid 1px #E1E1E1;
    overflow: hidden;
}
.category .col3 {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 280px;
    overflow: hidden;
}
.category h3 {
    background: none repeat scroll 0 0 #fff;
    height: 25px;
    margin-top: 10px;
    width: auto;
}
.category h3 a span{
    cursor: pointer;
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: #333;
    font-family: "arial";
    font-weight: 700;
    text-decoration: underline;    
}

.category h3 a span:hover {
    color: #ff3300 !important;
    text-decoration: none !important;    
}

.flist a {
    width: 100%;
    font-size: 14px;
    display: block;
    overflow: hidden;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    margin-bottom: 5px;
}
.flist a:hover {
    background-color: #efefef;
    color: #f30;
    font-size: 14px;
    display: block;
    overflow: hidden;
    text-decoration: none;
}
.category .col3 a {
    width: 135px;
    float: left;
    overflow: hidden;
    padding-left: 5px;
}
.flist a span ,.category h3 a span{float: left; cursor: pointer;}
.flist a img,.category h3 img { padding-left: 4px; padding-top: 3px; border: none;float: left;}
.line { border-bottom: dotted 1px #E1E1E1; padding-top: 5px; clear: both;}
.sever_tit {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    padding-left: 15px;
    line-height: 20px;
}
.sever_tit span {
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
}
.sever_list {
    margin: 0 19px;
}
.sever_list li {
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
    margin: 4px 0;
    padding-left: 50px;
    width: 180px;
}
.sever_list li a {
    color: #333333;
    font-size: 14px;
}
/*滚动图片*/
.mainDiv {
    width:912px;
    height:79px;
    position:relative;
    overflow:hidden;
    color:#fff;
    margin:0 auto;
}
.mainDiv ul#myList {
    position:absolute;
    top:0px;
    left:0px;
    z-index:2;
    width:20000px;
}
.mainDiv ul#myList li {
    width:104px;
    height:79px;
    float:left;
    margin:0 5px;
    text-align:center;
    line-height: 20px;
}
.btnPre,.btnNext {
    background: url("../images/btn_turn.png") no-repeat transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 50px;
    margin-top: 12px;
    width: 15px;
}
.btnPre {
    background-position: 0 0;
    margin-right: 8px;
}
.btnNext {
    background-position: -23px 0;
    margin-left: 8px;
}
.img_desc{display:none;}
.newlistimg_a{position:relative;display:block;}
.newlistimg_a:hover .img_desc{display:block; text-decoration:none;background:#333333;filter: alpha(opacity=80);-moz-opacity: 0.8;opacity: 0.8; position:absolute; top:0px; left:0px; width:92px; height:67px; padding:6px; color:#FFFFFF; overflow:hidden;}
.newlistimg_a img{ display:block;border:1px solid #e1e1e1; padding:1px;width: 100px; height: 75px;}
/*服务中心*/
.sever {padding: 10px 0;overflow: hidden; border: 1px solid #dcdcdc;}
.sever dl {line-height: 22px;padding: 0 15px; color:#333;}
.sever dl dt {float: left;width: 100px; font-weight:700;}
.sever dl dd {display: inline-block;float: left;width: 808px;}
.sever dl dd a {color: #666;margin: 0 7px;word-wrap:break-word; white-space:nowrap;}

.sever_list li.dianhua {background: url("../images/s_icon.png") no-repeat scroll 13px -710px;}
.sever_list li.shanchu {background: url("../images/s_icon.png") no-repeat scroll 10px -807px;}
.sever_list li.tuiguang {background: url("../images/s_icon.png") no-repeat scroll 5px -909px;}
.sever_list li.kuaizhao {background: url("../images/s_icon.png") no-repeat scroll 12px -1008px;}
.sever_list li.buxianshi {background: url("../images/s_icon.png") no-repeat scroll 6px -756px;}
.sever_list li.tiqian {background: url("../images/s_icon.png") no-repeat scroll 4px -860px;}
.sever_list li.renzhen {background: url("../images/s_icon.png") no-repeat scroll 8px -955px;}
.sever_list li.tousu {background: url("../images/s_icon.png") no-repeat scroll 13px -1057px;}

.flink{ padding:5px; border-bottom:1px solid #E1E1E1;}
.flink dt,.flink dd{ float:left; padding-right:15px; line-height:25px; height:25px;}
.flink dt{color:#333333; font-size:14px;}
.flink dd a{ white-space:nowrap;color:#666666;}